@model DemoAptech.Models.User
@{
    ViewBag.Title = "IndexHelperMethod";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "User Form";
}
<h2>User Form</h2>
@using (Html.BeginForm())
{@Html.ValidationSummary(true)
<div>
    @Html.LabelFor(m => m.name)
</div>
<div>
    @Html.EditorFor(model => model.name)
</div>
<div>
    @Html.LabelFor(model => model.address)
</div>
@Html.EditorFor(model => model.address)
<div>
    @Html.LabelFor(model => model.email)
</div>
<div>
    @Html.EditorFor(model => model.email)
</div>
<p>
    <input type="submit" value="Create" />
</p>        }


